@charset "utf-8";


.p-page{
    position: relative;

    .p-page-header{
        overflow: visible;
        height: 50px;
        padding: 0 8px;
        z-index: 2;
        font-size: .85rem;
        color: #7e888b;
        background: 0 0;
        .btn{
            display: block;
            height: 50px;
            padding: 0 15px;
            border-bottom: none;
            color: #ccc;
            text-transform: uppercase;
            line-height: 50px;
            -webkit-box-shadow: none!important;
            box-shadow: none!important;
            position: relative;
            font-size: 0.875rem;
        }
        .pull-left {
            float: left;
        }
    }

    .p-page-content{
        max-width: 700px;
        margin: 0 auto;
        padding: 20px 15px 40px 15px;

        img{
            border: 2px solid #ddd;
            border-radius: 3px;
        }
    }
}
