<div id="book-search-input"><input type="text" placeholder="Type to search"></div>

<nav class="p-sidenav" role="navigation">

  <ul class="p-sidenav--list">
  <li class="p-sidenav--list-item active" data-level="1.1" data-path="./">
    <a href="./">
      Read Me
    </a>
  </li>
  <li class="p-sidenav--list-item " data-level="1.2" data-path="docs/introduction/">
    <a href="docs/introduction/">
      Introduction
    </a>
    <ul class="articles">
      <li class="p-sidenav--list-item " data-level="1.2.1" data-path="docs/introduction/Motivation.html">
        <a href="docs/introduction/Motivation.html">
          Motivation
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.2.2" data-path="docs/introduction/CoreConcepts.html">
        <a href="docs/introduction/CoreConcepts.html">
          Core Concepts
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.2.3" data-path="docs/introduction/ThreePrinciples.html">
        <a href="docs/introduction/ThreePrinciples.html">
          Three Principles
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.2.4" data-path="docs/introduction/PriorArt.html">
        <a href="docs/introduction/PriorArt.html">
          Prior Art
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.2.5" data-path="docs/introduction/Ecosystem.html">
        <a href="docs/introduction/Ecosystem.html">
          Ecosystem
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.2.6" data-path="docs/introduction/Examples.html">
        <a href="docs/introduction/Examples.html">
          Examples
        </a>
      </li>
    </ul>
  </li>
  <li class="p-sidenav--list-item " data-level="1.3" data-path="docs/basics/">
    <a href="docs/basics/">
      Basics
    </a>
    <ul class="articles">
      <li class="p-sidenav--list-item " data-level="1.3.1" data-path="docs/basics/Actions.html">
        <a href="docs/basics/Actions.html">
          Actions
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.3.2" data-path="docs/basics/Reducers.html">
        <a href="docs/basics/Reducers.html">
          Reducers
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.3.3" data-path="docs/basics/Store.html">
        <a href="docs/basics/Store.html">
          Store
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.3.4" data-path="docs/basics/DataFlow.html">
        <a href="docs/basics/DataFlow.html">
          Data Flow
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.3.5" data-path="docs/basics/UsageWithReact.html">
        <a href="docs/basics/UsageWithReact.html">
          Usage with React
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.3.6" data-path="docs/basics/ExampleTodoList.html">
        <a href="docs/basics/ExampleTodoList.html">
          Example: Todo List
        </a>
      </li>
    </ul>
  </li>
  <li class="p-sidenav--list-item " data-level="1.4" data-path="docs/advanced/">
    <a href="docs/advanced/">
      Advanced
    </a>
    <ul class="articles">
      <li class="p-sidenav--list-item " data-level="1.4.1" data-path="docs/advanced/AsyncActions.html">
        <a href="docs/advanced/AsyncActions.html">
          Async Actions
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.4.2" data-path="docs/advanced/AsyncFlow.html">
        <a href="docs/advanced/AsyncFlow.html">
          Async Flow
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.4.3" data-path="docs/advanced/Middleware.html">
        <a href="docs/advanced/Middleware.html">
          Middleware
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.4.4" data-path="docs/advanced/UsageWithReactRouter.html">
        <a href="docs/advanced/UsageWithReactRouter.html">
          Usage with React Router
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.4.5" data-path="docs/advanced/ExampleRedditAPI.html">
        <a href="docs/advanced/ExampleRedditAPI.html">
          Example: Reddit API
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.4.6">
        <span>
          Next Steps
        </span>
      </li>
    </ul>
  </li>
  <li class="p-sidenav--list-item " data-level="1.5" data-path="docs/recipes/">
    <a href="docs/recipes/">
      Recipes
    </a>
    <ul class="articles">
      <li class="p-sidenav--list-item " data-level="1.5.1" data-path="docs/recipes/MigratingToRedux.html">
        <a href="docs/recipes/MigratingToRedux.html">
          Migrating to Redux
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.5.2" data-path="docs/recipes/UsingObjectSpreadOperator.html">
        <a href="docs/recipes/UsingObjectSpreadOperator.html">
          Using Object Spread Operator
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.5.3" data-path="docs/recipes/ReducingBoilerplate.html">
        <a href="docs/recipes/ReducingBoilerplate.html">
          Reducing Boilerplate
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.5.4" data-path="docs/recipes/ServerRendering.html">
        <a href="docs/recipes/ServerRendering.html">
          Server Rendering
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.5.5" data-path="docs/recipes/WritingTests.html">
        <a href="docs/recipes/WritingTests.html">
          Writing Tests
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.5.6" data-path="docs/recipes/ComputingDerivedData.html">
        <a href="docs/recipes/ComputingDerivedData.html">
          Computing Derived Data
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.5.7" data-path="docs/recipes/ImplementingUndoHistory.html">
        <a href="docs/recipes/ImplementingUndoHistory.html">
          Implementing Undo History
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.5.8" data-path="docs/recipes/IsolatingSubapps.html">
        <a href="docs/recipes/IsolatingSubapps.html">
          Isolating Subapps
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.5.9" data-path="docs/recipes/StructuringReducers.html">
        <a href="docs/recipes/StructuringReducers.html">
          Structuring Reducers
        </a>
        <ul class="articles">
          <li class="p-sidenav--list-item " data-level="1.5.9.1" data-path="docs/recipes/reducers/PrerequisiteConcepts.html">
            <a href="docs/recipes/reducers/PrerequisiteConcepts.html">
              Prerequisite Concepts
            </a>
          </li>
          <li class="p-sidenav--list-item " data-level="1.5.9.2" data-path="docs/recipes/reducers/BasicReducerStructure.html">
            <a href="docs/recipes/reducers/BasicReducerStructure.html">
              Basic Reducer Structure
            </a>
          </li>
          <li class="p-sidenav--list-item " data-level="1.5.9.3" data-path="docs/recipes/reducers/SplittingReducerLogic.html">
            <a href="docs/recipes/reducers/SplittingReducerLogic.html">
              Splitting Reducer Logic
            </a>
          </li>
          <li class="p-sidenav--list-item " data-level="1.5.9.4" data-path="docs/recipes/reducers/RefactoringReducersExample.html">
            <a href="docs/recipes/reducers/RefactoringReducersExample.html">
              Refactoring Reducers Example
            </a>
          </li>
          <li class="p-sidenav--list-item " data-level="1.5.9.5" data-path="docs/recipes/reducers/UsingCombineReducers.html">
            <a href="docs/recipes/reducers/UsingCombineReducers.html">
              Using combineReducers
            </a>
          </li>
          <li class="p-sidenav--list-item " data-level="1.5.9.6" data-path="docs/recipes/reducers/BeyondCombineReducers.html">
            <a href="docs/recipes/reducers/BeyondCombineReducers.html">
              Beyond combineReducers
            </a>
          </li>
          <li class="p-sidenav--list-item " data-level="1.5.9.7" data-path="docs/recipes/reducers/NormalizingStateShape.html">
            <a href="docs/recipes/reducers/NormalizingStateShape.html">
              Normalizing State Shape
            </a>
          </li>
          <li class="p-sidenav--list-item " data-level="1.5.9.8" data-path="docs/recipes/reducers/UpdatingNormalizedData.html">
            <a href="docs/recipes/reducers/UpdatingNormalizedData.html">
              Updating Normalized Data
            </a>
          </li>
          <li class="p-sidenav--list-item " data-level="1.5.9.9" data-path="docs/recipes/reducers/ReusingReducerLogic.html">
            <a href="docs/recipes/reducers/ReusingReducerLogic.html">
              Reusing Reducer Logic
            </a>
          </li>
          <li class="p-sidenav--list-item " data-level="1.5.9.10" data-path="docs/recipes/reducers/ImmutableUpdatePatterns.html">
            <a href="docs/recipes/reducers/ImmutableUpdatePatterns.html">
              Immutable Update Patterns
            </a>
          </li>
          <li class="p-sidenav--list-item " data-level="1.5.9.11" data-path="docs/recipes/reducers/InitializingState.html">
            <a href="docs/recipes/reducers/InitializingState.html">
              Initializing State
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="p-sidenav--list-item " data-level="1.6" data-path="docs/FAQ.html">
    <a href="docs/FAQ.html">
      FAQ
    </a>
    <ul class="articles">
      <li class="p-sidenav--list-item " data-level="1.6.1" data-path="docs/faq/General.html">
        <a href="docs/faq/General.html">
          General
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.6.2" data-path="docs/faq/Reducers.html">
        <a href="docs/faq/Reducers.html">
          Reducers
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.6.3" data-path="docs/faq/OrganizingState.html">
        <a href="docs/faq/OrganizingState.html">
          Organizing State
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.6.4" data-path="docs/faq/StoreSetup.html">
        <a href="docs/faq/StoreSetup.html">
          Store Setup
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.6.5" data-path="docs/faq/Actions.html">
        <a href="docs/faq/Actions.html">
          Actions
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.6.6" data-path="docs/faq/CodeStructure.html">
        <a href="docs/faq/CodeStructure.html">
          Code Structure
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.6.7" data-path="docs/faq/Performance.html">
        <a href="docs/faq/Performance.html">
          Performance
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.6.8" data-path="docs/faq/ReactRedux.html">
        <a href="docs/faq/ReactRedux.html">
          React Redux
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.6.9" data-path="docs/faq/Miscellaneous.html">
        <a href="docs/faq/Miscellaneous.html">
          Miscellaneous
        </a>
      </li>
    </ul>
  </li>
  <li class="p-sidenav--list-item " data-level="1.7" data-path="docs/Troubleshooting.html">
    <a href="docs/Troubleshooting.html">
      Troubleshooting
    </a>
  </li>
  <li class="p-sidenav--list-item " data-level="1.8" data-path="docs/Glossary.html">
    <a href="docs/Glossary.html">
      Glossary
    </a>
  </li>
  <li class="p-sidenav--list-item " data-level="1.9" data-path="docs/api/">
    <a href="docs/api/">
      API Reference
    </a>
    <ul class="articles">
      <li class="p-sidenav--list-item " data-level="1.9.1" data-path="docs/api/createStore.html">
        <a href="docs/api/createStore.html">
          createStore
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.9.2" data-path="docs/api/Store.html">
        <a href="docs/api/Store.html">
          Store
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.9.3" data-path="docs/api/combineReducers.html">
        <a href="docs/api/combineReducers.html">
          combineReducers
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.9.4" data-path="docs/api/applyMiddleware.html">
        <a href="docs/api/applyMiddleware.html">
          applyMiddleware
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.9.5" data-path="docs/api/bindActionCreators.html">
        <a href="docs/api/bindActionCreators.html">
          bindActionCreators
        </a>
      </li>
      <li class="p-sidenav--list-item " data-level="1.9.6" data-path="docs/api/compose.html">
        <a href="docs/api/compose.html">
          compose
        </a>
      </li>
    </ul>
  </li>
  <li class="p-sidenav--list-item " data-level="1.10" data-path="CHANGELOG.html">
    <a href="CHANGELOG.html">
      Change Log
    </a>
  </li>
  <li class="p-sidenav--list-item " data-level="1.11" data-path="PATRONS.html">
    <a href="PATRONS.html">
      Patrons
    </a>
  </li>
  <li class="p-sidenav--list-item " data-level="1.12" data-path="docs/Feedback.html">
    <a href="docs/Feedback.html">
      Feedback
    </a>
  </li>
  <li class="divider">
  </li>
  <li>
    <a href="https://www.gitbook.com" target="blank" class="gitbook-link">
      Published with GitBook
    </a>
  </li>
</ul>


</nav>
